project:
  type: website
  output-dir: docs
  resources:
    - CV.pdf      

website:
  title: "Dr. Swati S. Jha"
  navbar:
    background: primary
    left:
      - text: "About"
        href: index.qmd

format:
  html:
    theme: cosmo
    css: styles.css
